body{
    background-image: url("tt.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.login_div
{
	background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
		height: 250px;
	}

 
 #bst {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    display: block;
    }
    
#bst:hover {
   background-position: right center;
   text-decoration: none;
}